.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-top: 200px;
}

.title{
    text-align: center;
}

.table-header td{
    font-weight: 900;
}

.inputs{
    width: 500px;;
}

.inputs-buttons{
    text-align: center;
}

.inputs div{
    padding-top: 10px;
    justify-content: space-around;
    
}